header {
  width: 100%;
  text-align: center;
}

body {
  max-width: 960px;
}

main h2 {
  text-align: center;
}

img {
  height: 250px;
}

ul  {
  
  
}

li {
  list-style-type: none;
  margin: 5px;
}

.product {
  width: calc(100% / 3);
  display: inline;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px black;
  margin: 2px;
}

#product-display {
  display: flex;
  justify-content: space-between;
  max-width: 960px; 
  margin: 0 auto;
}