 header {
  width: 100%;
  text-align: center;
  display: inline-block;
}

header img {
  border-radius: 50%;
  
}

body {
  background-color: #5d96bc;
  margin: 0 auto;
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

main p {
  text-align: center;
  font-size: 15px;
}

main h2 {
  text-align: center;
}

#results h2 {
  font-size: 40px;
}

img {
  height: 250px;
}

ul  {
  text-align: center;
  
}

li {
  list-style-type: none;
  margin: 5px;
}
 
.product {
  width: calc(100% / 3);
  display: inline;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border: solid 5px black;
  margin: 2px;
}

.product:hover {
  border-color: yellow;
}

#product-display {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


#view-results {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #bc5d67;
  font-weight: bold;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: slategrey;
  color: #333;
  text-align: center;
  padding: 5px;
  line-height: 1;
}

